.project-item {
    position: relative;
    display: flex;
    margin: 0 auto 140px;
    color: $font-color;
    text-decoration: none;
    width: calc(100vw - 60px);
    height: 56.25vw;

    &:last-child {
      margin-bottom: 0;
    }
  
    @include media-breakpoint-up(lg) {
      margin-bottom: 140px;
      height: 500px;
      width: 870px;
    }
  
    @include media-breakpoint-up(xl) {
      margin-bottom: 200px;
      width: 1040px;
      height: 580px;
    }
  
    & > * {
      pointer-events: none;
    }
  
    svg {
      transition: transform 0.3s ease;
  
      polygon {
        transform-origin: center center;
        transition: transform 0.3s ease, stroke-width 0.3s ease;
      }
  
      .horiz {
        transition: opacity 0.3s 0.2s ease, transform 0.3s 0.2s ease, width 0.3s 0.2s ease;
      }
  
      .vert1 {
        transition: transform 0.3s 0.0s ease;
        transform-origin: center;
        // transform: rotate(-45deg);
      }
  
      .vert2 {
        transition: transform 0.3s 0.0s ease;
        transform-origin: center;
        // transform: rotate(45deg);
      }
  
      .vert {
        transition: transform 0.3s ease;
        // transform: translateX(20px);
      }
  
      .cross {
        transform: translate(0, 13px);
      }
    }
  
    &:hover {
      svg {
        transition: transform 0.3s ease;
        transform: scale(2) translateY(-5px);
        
        @include media-breakpoint-up(lg) {
          transform: scale(2) translateY(-10px);
        }
  
        polygon {
          transition: transform 0.3s 0.1s ease, stroke-width 0.6s 0.1s ease;
          transform: scale(0.9);
          stroke-width: 4;
        }
        
        .horiz {
          transition: opacity 0.3s 0.2s ease, transform 0.3s 0.2s ease, width 0.3s 0.2s ease;
          opacity: 0;
          transform: translateX(-10px);
          width: 0;
        }
  
        .vert1 {
          transition: transform 0.3s 0.1s ease;
          transform-origin: center;
          transform: rotate(-45deg);
          stroke-width: 4;
        }
  
        .vert2 {
          transition: transform 0.3s 0.1s ease;
          transform-origin: center;
          transform: rotate(45deg);
          stroke-width: 4;
        }
  
        .vert {
          transition: transform 0.3s 0.1s ease;
          transform: translateX(10px);
        }
      }
    }

    .image-container {
        width: 100%;
    }
  
    // .image-container {
    //   clip-path: polygon(75% 0, 75% 0, 25% 100%, 25% 100%);
    // }
    
    &__alt {
      display: flex;
      flex-direction: column;
      padding: 11px 12px 11px;
      // border: 0;
      // border-bottom: 0;
      min-width: 10vw;
      background-color: rgba(5, 5, 5, 0.5);
      background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.4) 54%, rgba(0,0,0,0.2) 83%, rgba(36,36,36,0) 100%);
  
      @include media-breakpoint-up(xl) {
        padding: 25px 15px 25px 20px;
      }
    }
  
    &__image {
  
      // because, I don't know why, scoped css is not working server side rendered for this component, the styles are not applied
      .project-item-this & {
        width: calc(100vw - 60px);
        height: 56.25vw;
        object-fit: cover;
        object-position: center;
        // position: absolute;
        z-index: -1;
        right: 0;
        top: 0;
        user-select: none;
        // clip-path: polygon(25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0 25%);
  
        @include media-breakpoint-up(lg) {
          height: 500px;
          width: 870px;
        }
  
        @include media-breakpoint-up(xl) {
          width: 1040px;
          height: 580px;
        }
      }
    }
  
    &__text {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-left: 0;
      transform: translate3d(0, 0, 0);
  
      // @include media-breakpoint-up(md) {
      //   margin-left: 8.333333vw;
      // }
  
      @include media-breakpoint-up(lg) {
        // order: 1;
        // bottom: 0;
        // margin-left: 65.384615px;
        left: 0;
      }
  
      // @include media-breakpoint-up(xl) {
      //   margin-left: 85px;
      //   left: 0;
      // }
    }
  
    &__button {
      position: absolute;
      bottom: 10px;
      right: 10px;
  
      svg {
        width: 31px;
        height: 31px;
      }
  
      @include media-breakpoint-up(md) {
        margin-top: 5vw;
  
        svg {
          width: 8.611111vw;
          height: 8.611111vw;
        }
      }
  
      @include media-breakpoint-up(lg) {
        margin-top: 30px;
        margin-left: 20px;
        bottom: 20px;
        right: 60px;
  
        svg {
          width: 64px;
          height: 64px;
        }
      }
  
      @include media-breakpoint-up(xl) {
        margin-top: 30px;
        margin-left: 20px;
  
        svg {
          width: 64px;
          height: 64px;
        }
      }
    }

    &__title {
      position: absolute;
    }
  
    h1,
    h2,
    h3 {
      width: fit-content;
      margin: 0;
      font-family: $font-main;
      color: $font-title-color;
    }
  
    h1 {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 7px;
      display: flex;
      align-items: flex-start;
      align-self: flex-start;
      // filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.80));
      margin-top: 10px;
      margin-left: 0;
      padding-right: 10px;
      // filter: invert(0.5);
      letter-spacing: -0.03em;
  
      @include media-breakpoint-up(md) {
        font-size: 7.777778vw;
        margin-bottom: 1.944444vw;
        margin-left: 16px;
      }
  
      @include media-breakpoint-up(lg) {
        font-size: 62px;
        margin-bottom: 5px;
        margin-top: 20px;
        margin-left: 20px;
      }
  
      @include media-breakpoint-up(xl) {
        font-size: 66px;
        // margin-bottom: 5px;
        margin-top: 28px;
        margin-left: 45px;
        padding-right: 60px;
      }
    }

    h2 {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 7px;
      display: flex;
      align-items: flex-start;
      align-self: flex-start;
      // filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.80));
      margin-top: 0;
      margin-left: 0;
      padding-right: 10px;
      
      .back {
        top: 2px;
        left: 2px;
      }
  
      @include media-breakpoint-up(md) {
        font-size: 2.592593vw;
        margin-bottom: 1.944444vw;
        margin-left: 16px;
      }
  
      @include media-breakpoint-up(lg) {
        font-size: 20px;
        margin-bottom: 15px;
        // margin-top: 20px;
        margin-left: 20px;
        // filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.80));
      }
  
      @include media-breakpoint-up(xl) {
        font-size: 28px;
        margin-bottom: 15px;
        // margin-top: 28px;
        margin-left: 45px;
        padding-right: 60px;
        // filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.80));
      }
    }
  
    h3 {
      font-size: 11px;
      font-weight: 500;
      margin-bottom: 4px;
      &:last-child {
        margin-bottom: 0;
      }
  
      @include media-breakpoint-up(md) {
        font-size: 13px;
        margin-bottom: 9px;
        &:last-child {
          margin-bottom: 0;
        }
      }
  
      @include media-breakpoint-up(lg) {
        line-height: 0.6;
      }
  
      @include media-breakpoint-up(xl) {
        font-size: 18px;
        line-height: 1;
      }

    }

    .line {
      position: relative;
    }

    .front {
      position: relative;
      color: $font-title-color;
      z-index: 1;
    }

    .back {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 100%;
      height: 100%;
      color: #262626;
    }
  }