@import 'vendors/normalize';
// @import 'vendors/bootstrap/bootstrap-grid';
// @import 'vendors/popbox';
// @import 'vendors/simplebar';
// @import 'vendors/embla';
// @import 'vendors/overlayscrollbars';

// @import 'vendors/vue-formulate/boilerplate/boilerplate';
// @import 'vendors/vue-formulate/snow/snow';

@import 'bootstrap';
@import 'breakpoints-viewer';
@import 'variables';
@import 'mixins';
@import 'functions';
@import 'fonts';
// @import 'collapse';
@import 'scrollbar-body';
@import 'page';
@import 'video';
@import 'canvas';
// @import 'project-item';

@import 'scroll-opacity';
@import 'scroll-reveal';
@import 'scroll-header-minimize';
@import 'zoomable-image';
@import 'lil-gui';
// @import 'form';
// @import 'stripe';


html {
  min-height: 100vh;
  // height: 100%;
}

body {
  line-height: 1;
  background: linear-gradient(180deg, rgb(14,14,14) 0%, rgb(27,25,25) 54%, rgb(5,5,5) 100%);
  color: $font-color;
  font-family: $font-main;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.big-underscore {
  font-weight: 300;
}

/**
  This is important to put text over the canvas
**/
.z-index-text
{  
  position: relative;
  z-index: $z-text;
}