
.page__title {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  font-size: $font-size-big-title-sm;
  font-weight: 800;
  color: $font-title-color;

  @include media-breakpoint-up(md) {
    font-size: $font-size-big-title-md;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0;
    padding-top: 160px;
    margin-bottom: 160px;
    font-size: $font-size-big-title-lg;
    width: 580px;
  }

  @include media-breakpoint-up(xl) {
    font-size: $font-size-big-title-xl;
    width: 650px;
  }
}