/**
  This is important to put text over the canvas
**/
.z-index-text
{  
  position: relative;
  z-index: $z-text;
}

.page__title {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  font-size: $font-size-big-title-sm;
  font-weight: 800;
  color: $font-title-color;
  width: calc(100% - 60px);

  @include media-breakpoint-up(md) {
    font-size: $font-size-big-title-md;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0;
    padding-top: 160px;
    margin-bottom: 160px;
    font-size: $font-size-big-title-lg;
    width: 870px;
    br {
      display: none;
    }
  }

  @include media-breakpoint-up(xl) {
    font-size: $font-size-big-title-xl;
    width: 1040px;
  }
}


.front {
  position: relative;
  z-index: 1;
}

.back {
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 0;
  width: 100%;
}

.projects-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  user-select: none;
  z-index: $z-projects;
  margin-top: 100px;

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    padding: 30px;
    position: relative;
    text-align: center;
    margin-bottom: 90px;
    max-width: 90%;
  
    .back {
      padding: 30px;
      color: #d57723;
    }
      
    @include media-breakpoint-up(md) {
        font-size: 40px;
    }
  
    @include media-breakpoint-up(lg) {
        font-size: 40px;
        margin-bottom: 160px;
    }
  
    @include media-breakpoint-up(xl) {
        font-size: 60px;
        margin-bottom: 220px;
    }
  }

  &__button {
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    padding: 30px;
    position: relative;
    text-align: center;
    margin-bottom: 100px;

    color: #ffffff;
  
    .back {
      padding: 30px;
      color: #26bccd;
      text-decoration: underline;
    }
      
    @include media-breakpoint-up(md) {
        font-size: 40px;
    }
  
    @include media-breakpoint-up(lg) {
        font-size: 40px;
        margin-bottom: 160px;
    }
  
    @include media-breakpoint-up(xl) {
        font-size: 60px;
        margin-bottom: 220px;
    }
  }
}

.projects-work {
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
  align-items: center;
  z-index: $z-projects;
  // min-height: calc(100vh - 245px); // 245px size of the footer
}