
.page__title {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  font-size: $font-size-big-title-sm;
  font-weight: 800;
  color: $font-title-color;
  width: calc(100% - 60px);



  @include media-breakpoint-up(md) {
    font-size: $font-size-big-title-md;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0;
    padding-top: 160px;
    margin-bottom: 160px;
    font-size: $font-size-big-title-lg;
    width: 870px;
    br {
      display: none;
    }
  }

  @include media-breakpoint-up(xl) {
    font-size: $font-size-big-title-xl;
    width: 1040px;
  }
}

.projects-home {
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
  z-index: $z-projects;
  margin-top: 50px;
}

.projects-work {
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
  align-items: center;
  z-index: $z-projects;
  min-height: 100vh;
}